In [1]:
import pandas as pd

In [3]:
df_details = pd.read_csv("details_of_assembly_segment_2019.csv")
df_details.head()

,state_name,constituency_name,assembly_constituency_name,nota_votes,candidate_name,party_name,secured_votes
0,Andhra Pradesh,Aruku,Palakonda (ST),3736,KISHORE CHANDRA DEO,TDP,54056.0
1,Andhra Pradesh,Aruku,Palakonda (ST),3736,Dr. KOSURI KASI VISWANADHA VEERA VENKATA SATYA...,BJP,1753.0
2,Andhra Pradesh,Aruku,Palakonda (ST),3736,GODDETI. MADHAVI,YSRCP,69588.0
3,Andhra Pradesh,Aruku,Palakonda (ST),3736,SHRUTI DEVI VYRICHERLA,INC,1327.0
4,Andhra Pradesh,Aruku,Palakonda (ST),3736,GANGULAIAH VAMPURU.,JnP,2987.0

In [6]:
df_2024 = pd.read_csv("eci_data_2024.csv", encoding="ISO-8859-1")
df_2024.head()

,s_no,candidate_name,party_name,EVM_votes,Postal_votes,secured_votes,percentage_of_votes,state_name,constituency_name
0,1,BISHNU PADA RAY,Bharatiya Janata Party,102182,254,102436,50.58,Andaman & Nicobar Islands,Andaman & Nicobar Islands - 1
1,2,KULDEEP RAI SHARMA,Indian National Congress,77829,211,78040,38.54,Andaman & Nicobar Islands,Andaman & Nicobar Islands - 1
2,3,MANOJ PAUL,Andaman Nicobar Democratic Congress,8236,18,8254,4.08,Andaman & Nicobar Islands,Andaman & Nicobar Islands - 1
3,4,D AYYAPPAN,Communist Party of India (Marxist),6009,8,6017,2.97,Andaman & Nicobar Islands,Andaman & Nicobar Islands - 1
4,5,V.K. ABDUL AZIZ,Independent,2195,8,2203,1.09,Andaman & Nicobar Islands,Andaman & Nicobar Islands - 1

In [ ]:
df_maha = pd.read_csv("maha_results_2019.csv")
df_maha

,state_name,assembly_constituency_number,assembly_constituency_name,candidate_name,candidate_sex,candidate_age,candidate_category,party_name,party_symbol,general_votes,postal_votes,secured_votes,percentage_of_votes,total_voters
0,Maharashtra,1,Akkalkuwa,1 ADV. K. C. PADAVI,MALE,61.0,ST,INC,Hand,82509,261.0,82770,41.255458,278888.0
1,Maharashtra,1,Akkalkuwa,2 AAMSHYA FULJI PADAVI,MALE,51.0,ST,SHS,Bow and Arrow,80532,142.0,80674,40.210738,278888.0
2,Maharashtra,1,Akkalkuwa,3 NAGESH DILVARSING PADVI,MALE,44.0,ST,IND,Gas Stove,21583,81.0,21664,10.798094,278888.0
3,Maharashtra,1,Akkalkuwa,4 NOTA,NaN,NaN,NaN,NOTA,NOTA,4856,1.0,4857,2.420898,278888.0
4,Maharashtra,1,Akkalkuwa,5 ADV. KAILAS PRATAPSING VASAVE,MALE,28.0,ST,AAAP,Broom,4034,21.0,4055,2.021154,278888.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3808,Maharashtra,288,Jath,6 Mahadev Harishchandra Kamble,MALE,38.0,SC,BSP,Elephant,1507,14.0,1521,0.867037,272345.0
3809,Maharashtra,288,Jath,7 NOTA,NaN,NaN,NaN,NOTA,NOTA,1085,1.0,1086,0.619068,272345.0
3810,Maharashtra,288,Jath,8 Krishndev Dhondiram Gayakavad,MALE,63.0,GENERAL,JD(S),A lady farmer carrying paddy on her head,576,4.0,580,0.330626,272345.0
3811,Maharashtra,288,Jath,9 SriVenkateshwar Maha Swamiji (Katakadhond D. G),MALE,32.0,SC,HJP,Tractor Chalata Kissan,452,1.0,453,0.258230,272345.0
3812,TURNOUT,TOTAL :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,173924,1501.0,175425,64.412785,NaN

In [17]:
# Initialize empty columns for turnout data
df_maha['GENERAL_TURNOUT'] = None
df_maha['POSTAL_TURNOUT'] = None
df_maha['total_votes_in_state'] = None
df_maha['PERCENT_VOTES_POLLED'] = None

# Loop through the DataFrame to identify and process turnout rows
for i, row in df_maha.iterrows():
    if row[0] == ' TURNOUT ':  # Identify the turnout row by the "TURNOUT" label
        # Extract turnout data from this row
        general_turnout = df_maha.iloc[i, df_maha.columns.get_loc('general_votes')]
        postal_turnout = df_maha.iloc[i, df_maha.columns.get_loc('postal_votes')]
        total_votes_polled = df_maha.iloc[i, df_maha.columns.get_loc('secured_votes')]
        percent_votes_polled = df_maha.iloc[i, df_maha.columns.get_loc('percentage_of_votes')]
        
        # Find the previous rows for the same constituency and fill turnout columns
        for j in range(i - 1, -1, -1):
            if df_maha.iloc[j, df_maha.columns.get_loc('state_name')] == df_maha.iloc[i - 1, df_maha.columns.get_loc('state_name')]:
                df_maha.at[j, 'GENERAL_TURNOUT'] = general_turnout
                df_maha.at[j, 'POSTAL_TURNOUT'] = postal_turnout
                df_maha.at[j, 'total_votes_in_state'] = total_votes_polled
                df_maha.at[j, 'PERCENT_VOTES_POLLED'] = percent_votes_polled
            else:
                break

# Remove turnout rows to clean the dataset
df = df_maha[df_maha['state_name'] != ' TURNOUT ']

# Save the modified DataFrame to a new CSV
df.to_csv('updated_maha_dataset.csv', index=False)

print("Turnout data integrated and CSV exported.")

C:\Users\Bhavani K\AppData\Local\Temp\ipykernel_29944\2410379774.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if row[0] == ' TURNOUT ':  # Identify the turnout row by the "TURNOUT" label

Turnout data integrated and CSV exported.

In [20]:
# Load the dataset
df_new = pd.read_csv('updated_maha_dataset.csv')

# Create a new column 'candidate_position' and extract the position number from 'candidate_name'
df_new['candidate_position'] = df_new['candidate_name'].str.extract(r'^(\d+)', expand=False)

# Remove the position number from the 'candidate_name' column
df_new['candidate_name'] = df_new['candidate_name'].str.replace(r'^\d+\s+', '', regex=True)

# Alternatively, Option 3: Fill with "NOTA" consistently in empty cells for NOTA rows
df_new.loc[df_new['candidate_name'] == 'NOTA', ['candidate_sex', 'candidate_age', 'candidate_category']] = 'NOTA'


# Save the modified DataFrame to a new CSV
df_new.to_csv('final_updated_dataset.csv', index=False)

print("Position column added and CSV exported as 'final_updated_dataset.csv'")

Position column added and CSV exported as 'final_updated_dataset.csv'

C:\Users\Bhavani K\AppData\Local\Temp\ipykernel_29944\3307657343.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'NOTA' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_new.loc[df_new['candidate_name'] == 'NOTA', ['candidate_sex', 'candidate_age', 'candidate_category']] = 'NOTA'

In [22]:
print(df_new.shape)

(3525, 19)

In [23]:


# Check for missing values in each column
missing_values = df_new.isnull().sum()

# Display the result
print("Number of missing values in each column:")
print(missing_values)

Number of missing values in each column:
state_name                         0
assembly_constituency_number       0
assembly_constituency_name         0
candidate_name                     0
candidate_sex                      0
candidate_age                      0
candidate_category                 0
party_name                         0
party_symbol                       0
general_votes                      0
postal_votes                    1041
secured_votes                      0
percentage_of_votes                0
total_voters                       0
GENERAL_TURNOUT                    0
POSTAL_TURNOUT                     0
total_votes_in_state               0
PERCENT_VOTES_POLLED               0
candidate_position                 0
dtype: int64

In [25]:
df_new['postal_votes'].fillna(0, inplace=True)

C:\Users\Bhavani K\AppData\Local\Temp\ipykernel_29944\3698247536.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_new['postal_votes'].fillna(0, inplace=True)

In [26]:


# Check for missing values in each column
missing_values = df_new.isnull().sum()

# Display the result
print("Number of missing values in each column:")
print(missing_values)

Number of missing values in each column:
state_name                      0
assembly_constituency_number    0
assembly_constituency_name      0
candidate_name                  0
candidate_sex                   0
candidate_age                   0
candidate_category              0
party_name                      0
party_symbol                    0
general_votes                   0
postal_votes                    0
secured_votes                   0
percentage_of_votes             0
total_voters                    0
GENERAL_TURNOUT                 0
POSTAL_TURNOUT                  0
total_votes_in_state            0
PERCENT_VOTES_POLLED            0
candidate_position              0
dtype: int64

In [27]:
df_new.to_csv('final_updated_maha_dataset.csv', index=False)

In [2]:
import pandas as pd

df_m = pd.read_csv('final_updated_maha_dataset.csv')

In [ ]:
df_m.drop(["party_symbol", "general_votes", "postal_votes", "GENERAL_TURNOUT", "POSTAL_TURNOUT"], axis=1, inplace=True)
df_m.head(30)

,state_name,assembly_constituency_number,assembly_constituency_name,candidate_name,candidate_sex,candidate_age,candidate_category,party_name,secured_votes,percentage_of_votes,total_voters,total_votes_in_state,PERCENT_VOTES_POLLED,candidate_position
0,Maharashtra,1,Akkalkuwa,ADV. K. C. PADAVI,MALE,61,ST,INC,82770,41.255458,278888,200628,71.938556,1
1,Maharashtra,1,Akkalkuwa,AAMSHYA FULJI PADAVI,MALE,51,ST,SHS,80674,40.210738,278888,200628,71.938556,2
2,Maharashtra,1,Akkalkuwa,NAGESH DILVARSING PADVI,MALE,44,ST,IND,21664,10.798094,278888,200628,71.938556,3
3,Maharashtra,1,Akkalkuwa,NOTA,NOTA,NOTA,NOTA,NOTA,4857,2.420898,278888,200628,71.938556,4
4,Maharashtra,1,Akkalkuwa,ADV. KAILAS PRATAPSING VASAVE,MALE,28,ST,AAAP,4055,2.021154,278888,200628,71.938556,5
5,Maharashtra,1,Akkalkuwa,BHARAT JALYA PAWARA,MALE,27,ST,IND,3784,1.886078,278888,200628,71.938556,6
6,Maharashtra,1,Akkalkuwa,DR.SANJAY RAVLYA VALVI,MALE,27,ST,BTP,2824,1.407580,278888,200628,71.938556,7
7,Maharashtra,2,Shahada,Rajesh Udesing Padvi,MALE,50,ST,BJP,94931,45.120798,320555,210393,65.633979,1
8,Maharashtra,2,Shahada,Adv.Padmakar Vijaysing Valvi,MALE,51,ST,INC,86940,41.322668,320555,210393,65.633979,2
9,Maharashtra,2,Shahada,Eng.Jelsing Bijala Pawara,MALE,59,ST,IND,21013,9.987500,320555,210393,65.633979,3
10,Maharashtra,2,Shahada,Mali Jaysing Devchand,MALE,66,ST,CPIM,4060,1.929722,320555,210393,65.633979,4
11,Maharashtra,2,Shahada,NOTA,NOTA,NOTA,NOTA,NOTA,3449,1.639313,320555,210393,65.633979,5
12,Maharashtra,3,Nandurbar,VIJAYKUMAR KRUSHNARAO GAVIT,MALE,64,ST,BJP,121605,64.515701,339098,188489,55.585406,1
13,Maharashtra,3,Nandurbar,UDESING KOCHARU PADVI,MALE,71,ST,INC,51209,27.168164,339098,188489,55.585406,2
14,Maharashtra,3,Nandurbar,DIPA SHAMSHON VALVI,FEMALE,33,ST,VBA,6734,3.572622,339098,188489,55.585406,3
15,Maharashtra,3,Nandurbar,NOTA,NOTA,NOTA,NOTA,NOTA,3521,1.868014,339098,188489,55.585406,4
16,Maharashtra,3,Nandurbar,ANANDA SUKALAL KOLI,MALE,52,ST,IND,2047,1.086005,339098,188489,55.585406,5
17,Maharashtra,3,Nandurbar,VIPUL RAMSING VASAVE,MALE,25,ST,BSP,1925,1.021280,339098,188489,55.585406,6
18,Maharashtra,3,Nandurbar,Adv.PRAKASH MOHAN GANGURDE,MALE,31,ST,SWP,1448,0.768215,339098,188489,55.585406,7
19,Maharashtra,4,Nawapur,Naik Shirishkumar Surupsing,MALE,47,ST,INC,74652,34.297056,287977,217663,75.583467,1
20,Maharashtra,4,Nawapur,Sharad Krushnarao Gavit,MALE,56,ST,IND,63317,29.089464,287977,217663,75.583467,2
21,Maharashtra,4,Nawapur,Gavit Bharat Manikrao,MALE,48,ST,BJP,58579,26.912705,287977,217663,75.583467,3
22,Maharashtra,4,Nawapur,Dr. Ulhas Jayant Vasave,MALE,45,ST,BTP,6009,2.760690,287977,217663,75.583467,4
23,Maharashtra,4,Nawapur,Jagan Hurji Gavit,MALE,49,ST,VBA,5462,2.509384,287977,217663,75.583467,5
24,Maharashtra,4,Nawapur,NOTA,NOTA,NOTA,NOTA,NOTA,4950,2.274158,287977,217663,75.583467,6
25,Maharashtra,4,Nawapur,Dr. Rakesh Rajya Gavit,MALE,41,ST,IND,1286,0.590822,287977,217663,75.583467,7
26,Maharashtra,4,Nawapur,Adv. Prakash Mohan Gangurde,MALE,31,ST,IND,1154,0.530177,287977,217663,75.583467,8
27,Maharashtra,4,Nawapur,Arjunsing Diwansing Vasave,MALE,54,ST,IND,1039,0.477343,287977,217663,75.583467,9
28,Maharashtra,4,Nawapur,Ramu Maharya Valvi,MALE,49,ST,PPID,738,0.339056,287977,217663,75.583467,10
29,Maharashtra,4,Nawapur,Dr. Sunil Kuthya Gavit,MALE,41,ST,AAAP,477,0.219146,287977,217663,75.583467,11

In [4]:
df_m.head()

,state_name,assembly_constituency_number,assembly_constituency_name,candidate_name,candidate_sex,candidate_age,candidate_category,party_name,secured_votes,percentage_of_votes,total_voters,total_votes_in_state,PERCENT_VOTES_POLLED,candidate_position
0,Maharashtra,1,Akkalkuwa,ADV. K. C. PADAVI,MALE,61,ST,INC,82770,41.255458,278888,200628,71.938556,1
1,Maharashtra,1,Akkalkuwa,AAMSHYA FULJI PADAVI,MALE,51,ST,SHS,80674,40.210738,278888,200628,71.938556,2
2,Maharashtra,1,Akkalkuwa,NAGESH DILVARSING PADVI,MALE,44,ST,IND,21664,10.798094,278888,200628,71.938556,3
3,Maharashtra,1,Akkalkuwa,NOTA,NOTA,NOTA,NOTA,NOTA,4857,2.420898,278888,200628,71.938556,4
4,Maharashtra,1,Akkalkuwa,ADV. KAILAS PRATAPSING VASAVE,MALE,28,ST,AAAP,4055,2.021154,278888,200628,71.938556,5

In [5]:
df_m.to_csv("final_updated_maharashtra.csv", index=False)